{% extends "base.html" %}
{% load  widget_tweaks %}
{% block content %}
    <section class="button">
        <div class="button__title">jQueryUI modal</div>
        <div class="button__area">
            <button id="button__click" class="button__click">Click!</button>
        </div>

        <div id="click__modal" style="display:none;">
          <form id="click__confirm" class="click__confirm" autocomplete="off" action="{% url 'app:form_test' %}" method="POST">
           {% csrf_token %}
            <div class="click__label">username</div>
           {% render_field form.username class="form_field"%}
            <div class="click__label">number</div>
           {% render_field form.number class="form_field"%}
        </form>
        <div id="message" class="success_message"></div>
        </div>

    </section>
{% endblock %}